<!-- views/aboutUs.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= content.pageTitle %>
    </title>
<link rel="stylesheet" href="../../seed/style/about.css">
</head>

<body>
    <nav>
        <%- include('navbar') %>
    </nav>
    <div class="header">
        <h1>
            <%= content.header %>
        </h1>
    </div>

    <div class="container">
        <p>
            <%= content.welcome %>
        </p>

        <p>
            <%= content.carefullyChosen %>
        </p>

        <p>
            <%= content.enduringBeauty %>
        </p>

        <p>
            <%= content.thanks %>
        </p>

        <p class="signature">
            <%= content.signature %>
        </p>
    </div>
        
</body>

</html>